@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Orbitron&family=Poppins:wght@700&family=Raleway:wght@500&display=swap');

body{
    background-color: #aaaaaa;
    font-family: Raleway;
    margin: 0;
    padding: 0;
}
.addToDo{
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.addToDo #add{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 19px 30px;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    width: 400px;
}
.addBtn{
    position: absolute;
    top: 50%;
    left: 93%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    border: none;
    border-radius: 15px;
    background-color: hsla(0, 100%, 37%, 0.74);
    font-size: 20px;
}
.addBtn:hover{
    background-color: hsla(0, 100%, 50%, 0.74);
}

.todoConainer {
    display: flex;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: 10px;
    flex-direction: column;
    justify-content: center;
    color: #000000;
    width: 500px;
    gap: 10px;

}

.task {
    position: relative;
    display: flex;
    margin-top: 10px;
    margin-right: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: #d9d9d9;
    flex-direction: column;
    font-size: 20px;
    padding: 5px 15px;
}
.check{
    width: 30px;
    height: 30px;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    background-color: hsla(0, 100%, 37%, 0.74);
    color: white;
}
.check:hover{
    background-color: hsla(0, 100%, 50%, 0.74);

}
.taskH1{
    position: absolute;
    height: 300px;
}


