@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Orbitron&family=Poppins:wght@700&display=swap');

:root{
    --numb-buttons: #505050;
    --greyBtn:#a6a6a6;
    --orangeBtn: #FF9500;
    --screen: #000;
    --fontSize: 4em;
}

body{
    display: flex;
    background-color: #3f3f3f;
    font-family: "Helvetica";
    font-weight: lighter;
}

.bg{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--screen);
    height: 159.9mm;
    width: 350px;
    border-radius: 25px;
    padding-bottom: 50px;
}
.screen{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    background-color: var(--screen);
    width: 300px;
    height: 80px;
    border: none;
    border-radius: 18px;
    color: white;
    text-align: right;
    font-size: var(--fontSize);
    padding: 3px 13px;
}

.grayBtn{
    background-color: var(--grayBtn);
    color: black;
}
.orangeBtn button{
    background-color: #FF9500;
    color: white;
}
.functionBtn button{
    border: none;
    border-radius: 50%;
    font-size: 2em;
    text-align: center;
    width: 70px;
    height: 70px;
}

.function-AC{
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 43.5%;
    transform: translate(-50%, -50%);
}
.function-negative{
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 47.8%;;
    transform: translate(-50%, -50%);
}
.function-percent{
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 52.2%;
    transform: translate(-50%, -50%);
}
.function-divide{
    z-index: 1;
    position: absolute;
    top: 40%;
    left: 56.5%;
    transform: translate(-50%, -50%);
}
.function-multiply{
    z-index: 1;
    position: absolute;
    top: 48.5%;
    left: 56.5%;
    transform: translate(-50%, -50%);
}
.function-subtract{
    z-index: 1;
    position: absolute;
    top: 57%;
    left: 56.5%;
    transform: translate(-50%, -50%);
}
.function-add{
    z-index: 1;
    position: absolute;
    top: 65.5%;
    left: 56.5%;
    transform: translate(-50%, -50%);
}
.function-equals{
    z-index: 1;
    position: absolute;
    top: 74%;
    left: 56.5%;
    transform: translate(-50%, -50%);
}
.function-dot{
    z-index: 1;
    position: absolute;
    top: 74%;
    left: 52.2%;
    transform: translate(-50%, -50%);
    background-color: var(--numb-buttons) !important;
}
.function-dot{
    z-index: 1;
    position: absolute;
    top: 74%;
    left: 52.2%;
    transform: translate(-50%, -50%);
}

.numberBtn button{
    background-color: var(--numb-buttons);
    color: white;
    border: none;
    border-radius: 50%;
    font-size: 2em;
    text-align: center;
    width: 70px;
    height: 70px;
}
.number-0{
    z-index: 1;
    position: absolute;
    top: 74%;
    left: 45.6%;
    transform: translate(-50%, -50%);
    border-radius: 55px !important;
    width: 155px !important;
    text-align: start !important;
    padding-left: 26px;
}
.number-1{
    z-index: 1;
    position: absolute;
    top: 65.5%;
    left: 43.5%;
    transform: translate(-50%, -50%);
}
.number-2{
    z-index: 1;
    position: absolute;
    top: 65.5%;
    left: 47.8%;
    transform: translate(-50%, -50%);
}
.number-3{
    z-index: 1;
    position: absolute;
    top: 65.5%;
    left: 52.2%;
    transform: translate(-50%, -50%);
}
.number-4{
    z-index: 1;
    position: absolute;
    top: 57%;
    left: 43.5%;
    transform: translate(-50%, -50%);
}
.number-5{
    z-index: 1;
    position: absolute;
    top: 57%;
    left: 47.8%;
    transform: translate(-50%, -50%);
}
.number-6{
    z-index: 1;
    position: absolute;
    top: 57%;
    left: 52.2%;
    transform: translate(-50%, -50%);
}
.number-7{
    z-index: 1;
    position: absolute;
    top: 48.5%;
    left: 43.5%;
    transform: translate(-50%, -50%);
}
.number-8{
    z-index: 1;
    position: absolute;
    top: 48.5%;
    left: 47.8%;
    transform: translate(-50%, -50%);
}
.number-9{
    z-index: 1;
    position: absolute;
    top: 48.5%;
    left: 52.2%;
    transform: translate(-50%, -50%);
}

.grayBtn button:hover{
    background-color: #d4d4d4;
}
.orangeBtn button:hover{
    background-color: #ffb246;
}
.numberBtn button:hover{
    background-color: #7c7c7c;
}